/**
 * Reset, normalization of HTML elements
 */

*,
*::before,
*::after {
  box-sizing: border-box; // Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
  border-style: none; // Remove the border on images inside links in IE 10-.
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden; // Hide the overflow in IE
}

input,
button,
select,
optgroup,
textarea {
  margin: 0; // Remove the margin in Firefox and Safari
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible; // Show the overflow in Edge
}

button,
select {
  text-transform: none; // Remove the inheritance of text transform in Firefox
}

table {
  border-collapse: collapse; // Prevent double borders
}

*:focus{
  outline: none;
}