/**
 * Typography Variables
 */
 
 @include font-face("linecons", '../fonts/Linecons/linecons');
 @include font-face("Aller", '../fonts/Aller/Aller-Bold', bold);
 @include font-face("Aller", '../fonts/Aller/Aller-Regular', regular);
 @include font-face("Aller", '../fonts/Aller/Aller-Light', light);
 @include font-face("STHeiti-Light", '../fonts/STHeiti-Light/STHeiti-J-Light', light);
 @include font-face("Myriad Pro", '../fonts/Myriad-Pro/MyriadPro-Regular', regular );
// Paragraph
$paragraph-margin-bottom: 1rem;

// Headings
$headings-margin-bottom: 1rem;
$headings-font-family: $font-family;
$headings-font-weight: 500;
$headings-line-height: inherit;
$headings-color: inherit;

// Headings Font Size
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// Links
$link-color: #7e7e7e;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: none;

/**
 * Typography
 */

html {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $body-color;
  line-height: $line-height-base;
}

p {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

a {
  color: $link-color;
  text-decoration: $link-decoration;
  background-color: transparent; // Remove the gray background on active links in IE 10.
  -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}
