/**
 * Variables
 */

// Colors
$primary: #242424;

// Fonts
$font-family: 'Myriad Pro';
$font-size-base: 1rem;
$line-height-base: 1;
$body-color: #ebe7df;

// Transition
$transition-base: all .2s ease-in-out;

// Z-index Layers
$z-index-navbar: 1000;
$z-index-navbar-toggler: 1010;
