/*!
 * Project: OSF
 * Author: Yurii Karmazin
 */

/**
* Bootstrap 4 Grid & Breakpoints
*/
@import "bootstrap/bootstrap";

/**
* Core
*/

@import '_normalize';
@import '_reset';
@import '_print';
@import '_mixins';
@import '_variables';
@import '_typography';


/**
 * Frontie Components
 */

@import 'components/_slider';
@import 'components/_navbar';
@import 'components/_buttons';
@import 'components/_header';
@import 'components/_footer';
@import 'components/_products-banner';
@import 'components/_select';
@import 'components/_login';

@import 'components/_modal';


body {
    background: #ebe7df;
}
 .main-wrapper{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
 }
 .layout{
     width: 100%;
 }


 .offers-wrapper{
     width: 100%;
     height: 230px;
    background: #242424;
    .offer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto 0;
        height: 180px;
        flex:1;
        &__content{
            width: 180px;
            height: 60px;
            background: rgba(36, 36, 36, 0.902);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.56rem;
            font-family: "Aller";
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            line-height: 2.4;      
            }
    }
     
    .col-4:nth-child(1) .offer{
        background:url('/img/sale.png');
        background-size: cover;
        background-position: center;
        max-width:  300px;
      
    }
    .col-4:nth-child(2) .offer{
        background:url('/img/offers.png');
        background-size: cover;
        background-position: center;
        max-width:  300px;
        &__content{
            width: 196px;
        }
    }
    .col-4:nth-child(3) .offer{
        background:url('/img/must.png');
        background-size: cover;
        background-position: center;
        max-width:  300px;
      
    }
 }

 .caption{
    font-size: 1.56rem;
    font-family: "Aller";
    color: rgb(36, 36, 36);
    line-height: 2.4;
    text-align: left;
  }
  .btn--show{
      margin-left: auto;
      padding-right: 10px;
        margin-top: auto; 
        margin-bottom: auto; 
      a{
            font-size: 0.875rem;
            font-family: "Aller";
            color: #bcb5a7;
            font-weight: bold;
            border: solid 1px #bcb5a7;
            width: 104px;
            height: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
      &:hover{
          color:#8d877c;
          border: solid 1px #8d877c;
          transition: all 0.3s ease;
      }
    }
  }
  .col-md-4:nth-child(3) .item{
        @include media-breakpoint-up(lg) {
            margin-left: auto;
        
    }
  }
  .item{
    display: flex;
    max-width: 300px;
    position: relative;
    flex-wrap: wrap;
    box-sizing: content-box;
    margin-bottom: 16px;
    .item__content {
        border-top: 1px solid #ccc;
        width: 100%;
        height: 50px;
        background: #fff;
        display: flex;
        align-items: center;
        span{
                font-size: 1.125rem;
                font-family: "Aller";
                color: rgb(36, 36, 36);
                line-height: 1.389;
                margin-left: 90px;
                opacity: 1;
                transition: all 0.4s ease;
        }
        &:hover .icons-list{
            opacity: 1;
            transition: all 0.4s ease;
        }
        &:hover span{
            opacity: 0;
            transition: all 0.4s ease;
        }
    .icons-list{
        display: flex;
        position: absolute;
        bottom: 12px;
        opacity: 0;
        right: 40px;
        transition: all 0.4s ease;
        a{
            font-family: 'Linecons';
            margin: 0 10px ;
            color: #666;
            display: inline-block;
            &:hover{
                color: #57c5a0;
                }
            &:first-child{
                margin-top: 2px;
            }
            }
        }
    } 
    .badge{
        position: absolute;
        width: 66px;
        height: 66px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.81rem;
        font-family: "Aller";
        font-weight: bold;
        color: rgb(255, 255, 255);
    &--price{
        bottom: 0;
        margin-left: 15px;
        background: #57c5a0;
        line-height: 1.923;
    }
    &--sale{
        background: #333333;
        text-transform: uppercase;
        top: 0;
        right: 15px;
    }
    &--out-of{
        background: #ff6633;
        text-transform: uppercase;
        top: 0;
        right: 15px;
    }
}
}

.line{
    display: block;
    width: 100%;
    background: #cccc99;
    height: 1px;
    margin: 29px 0 25px;
}


.social{
    display: flex;
    align-items:center;
    background: #242424;
    height: 120px;
    width: 100%;
    z-index: -1;
    &-inner{
        display: flex;
        padding: 0 40px;
        
@include media-breakpoint-only(md) {
    padding: 0 ;

}
            .social__newsletter{
                margin-right: auto;
                .span-container{
                    width: 250px;
                    display: block;
                    position: relative;
                    height: 36px;
                      
                    input{
                        width: 100%;
                        padding-left: 14px;
                        height: 36px;
                        background-color: #2e2e2e;
                        color: #7d7d7d;
                        border: 0;
                    }
                input[type="email"]::placeholder {
                        font-size: 0.75rem;
                        font-family: "Aller";
                        color: rgb(125, 125, 125);
                        font-style: italic;
                        line-height: 1.5;
                        text-align: justifyLeft;
                        
                }
                input[type="email"]:focus ::placeholder {
                    content: none;
            }
            
            }
            .submit{
                display: block;
                position: absolute;
                height: 36px;
                width: 36px;
                top: 0;
                right:0;
                text-align: center;
                border-radius: 0 3px 3px 0;
                border-top: 1px solid transparent;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;
                overflow: hidden;
                background: #7d7d7d;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    background:#7d7d7d;
                    border:1px solid #57c5a0;
                }
            &:before {
                content: '\f105';
                font-family: FontAwesome;
                font-size: 18px;
                font-weight: 200;
                line-height: 51px;
                color: #b6b6b6;
            }
            &:after {
                content:"You're subscribed!";
                display:block;
                color:white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight:400;
                text-shadow:1px 1px 0 rgba(0,0,0,.3);
                height:100%;
                width:100%;
                line-height:51px;
                position:absolute;
                top:10px;
                opacity:0;
              }
              &.submitted {
                transition:.75s cubic-bezier(0.19, 1, 0.22, 1);
                width:calc(100% );
                background:#57c5a0;
                border:1px solid #57c5a0;
                cursor:pointer;
                border-radius:3px;
                &:before {
                  color:white;
                  position:relative;
                    top: 50px;
                    left:0;
                  transition:.25s .75s ease-in-out;
                }
                &:after {
                  top:0;
                  opacity:1;
                  color:white;
                  transition:.5s 1s ease-in-out;
                }
            }
        }

            
        }
        .social__links{
            margin-left: auto;
            display: flex;
            & a{
                height: 36px;
                width: 36px;
                z-index: 1;
                margin-left: 8px;
                display: block;
               
                i{
                    font-size: 36px;
                    color: #2e2e2e;
                    position: relative;
              
                    &:after{
                        content: "";
                        background-color: #7d7d7d;
                        position: absolute;
                        width: 30px;
                        left: 1px;
                        height: 30px;
                        display: block;
                        border-radius: 4px;
                        z-index: -1;
                        top: 4px;
                        transition: all 0.3s ease;
                    } 
                }
                &:hover  i:after{
                    background: #57c5a0;
                    transition: all 0.3s ease;
                }
            }
        }
    }
}

.content-block{
    margin: 0  10px;
    width: 220px;
    height: 185px;
    padding: 0 25px 0 15px;
    background: #dfdbd4;
    margin-bottom: 20px;
    font-family: "Aller";
    color: rgb(36, 36, 36);
    &__caption{
            font-size: 0.875rem;
            font-weight: bold;
            text-transform: uppercase;
            padding: 30px 0 20px;
            display: block;
    }
    &__text {
            text-align: left;
            line-height: 1rem;
            font-size: 0.75rem;
    & p{
        margin-top: 8px;
    }
           
    }
  .blog-slider{
      margin-bottom: -1px;
    .blog-slider__item{
        display: flex;
        align-items: center;
        padding: 8px;
        transition: all 0.5s ease;
        .blog-slider__date{
            height: 36px;
            width: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #57c5a0;
            font-size: 0.625rem;
            font-family: "Aller";
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.2;
            text-align: right;
            
        }
        .blog-slider__content{
            padding-left: 10px;
            font-size: 0.75rem;
            line-height: 1.2;
            }
        }
    }
  }


.content-block:nth-child(1){
    margin-left: 0;
}
.content-block:nth-child(3){
    width: 460px;
    margin-right: 0;
}
.content-block:nth-child(2){
    @include media-breakpoint-only(md) {
        display: none;
    
}
}





.widgets-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    height: 246px;
    background: #242424;
    border-bottom : 1px solid black;
    .widgets-inner{
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        @include media-breakpoint-only(md) {
            padding: 0 ;
        
    }
        .widget--text , .widget--twitter{
            width: 260px;
        }
        .widget--twitter{
            font-family: 'Aller';
            font-size: 0.75rem;
            display: flex;
            flex-direction: column;
            .date{
                padding: 10px 0 15px;
                display: block;
            }
            .tweet{
            font-style: italic;
            }
            & a{
                color: #57c5a0;
                line-height: 18px;
            }
            & .date{

            }
        }
        .widget__caption{
                font-size: 0.875rem;
                font-family: "Aller";
                color: rgb(125, 125, 125);
                line-height: 1.286;
                text-align: left;
                text-transform: uppercase;
                padding-bottom: 20px;
        }
        .widget__text{
                font-size: 0.75rem;
                font-family: "Aller";
                color: rgb(164, 164, 164);
                font-style: italic;
                line-height: 1.5;
                text-align: justify;
        }
    }
}


.fadeIn{
    animation: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
.fadeOut{
    animation: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
.blog-slider__item.tns-item.tns-slide-active{
    animation:  fadeIn;
    animation-duration: 11s;
    animation-fill-mode: both;
}


@keyframes fadeOut  {
    0% {
      opacity : 1   ;
    }  
    100% {
      opacity : 0   ;
    }
}

@keyframes fadeIn  {
    0% {
      opacity : 0  ;
    }  
    8%{
        opacity: 1;
    }
    90% {
      opacity : 1   ;
    }
    100%{
        opacity: 0;
    }
}
.sort-block{
    height: 90px;
    width: 100%;
    align-items: center;
    display: flex;
    &__inner{
        display: flex;
        align-items: baseline;
        & .caption{
            margin-right: 20px;
        }
        span{
            font-size: 0.75rem;
            font-family: "Aller";
            color: rgb(188, 181, 167);
            font-weight: bold;
            line-height: 2.083;
            
                    
    }
    }
    .sort-block__inner--left{
        margin-left: auto;
        & span{
                font-size: 0.875rem;
                font-family: "Aller";
                color: rgb(188, 181, 167);
                font-weight: bold;
                line-height: 1.786;
                text-align: center;
                            
        }
        & > .btn {
            border: 1px solid rgb(188, 181, 167);
            outline: none;
            padding: 6px 7px;
            background-color: inherit;
            cursor: pointer;
            & i {
                color: rgb(188, 181, 167);
            }
           
            &:last-child{
                margin-left: 20px;
                width: 200px;
                color:  rgb(188, 181, 167); 
                i {
                    margin-left: 8px;
                }
            }
            
        }
        .btn-m {
            margin: 0 10px;
        }
        & .btn:hover {
           border: 1px solid #898170;
        }
        
        & .btn.active {
            border: 1px solid #898170;
        }
    }
}


.column {
    display: flex;
    flex-direction: column;
}
.flickr_badge_image {
    margin:0px;
    display:inline;
    margin: 0  8px 8px 0;
}
.flickr_badge_image img {
    border: 0px solid #666666 !important; 
    width: 75px;
    height: 55px;
    object-fit: cover;
    margin:0px;}
.widget__content {
    display: flex;
    flex-wrap: wrap;
    width: 255px;
    img {
        margin: 4px;
        object-fit: cover;
    }
}

@include media-breakpoint-down(sm)  {
    .header__inner__search{
        display: none;
    }
    .sm-none{
        display: none;
    }
}

@include media-breakpoint-up(md)  {
   .md-none{
       display:none
   }
}