
footer{
    height: 90px;
    width: 100%;
    background: #333333;
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    font-family: "Aller";
    color: rgba(255, 255, 255, 0.502);
    .footer-inner{
        display: flex;
    }
    .copyright{
        margin-right: auto;
        line-height: 1.5;
    }
    .footer-nav{
        margin-left: auto;
        line-height: 2.083;
        a{
            padding-right: 10px;
        }
        a:after{
            content: '/';
            margin-left: 10px;
        }
    }
}