body{
    padding-top: 0;
}

.header {
    height: 45px;
    width: 100%;
    background: #242424;
    .header__inner{
        display: flex;
        align-items: center;
        height: 45px;
        flex-grow:1;
        .header__inner__logo{
            font-size: 1.625rem;
            font-family: "STHeiti-Light";
            color: rgb(87, 197, 160);
            text-transform: uppercase;
            line-height: 0.962;
            text-align: left;
        }
        .header__inner__search{
            margin-left: auto;
            position: relative;
            height: 100%;
            transform-origin: 100% 50%;
            width: 40px;
            height: 100%;
            cursor: pointer;
            transition: 250ms ease;
            &.focused {
                width: 170px;
                border-left: rgb(126, 126, 126) 1px solid ;
                input {
                padding: 0 40px 0 20px;
                width: 100%;
                transform: scale(1);
                }
            }
            
            input {
                background: transparent;
                border: 0;
                color: #aaaaaa;
                outline: none;
                height: 100%;
                width: 0;
                overflow: hidden;
                font-weight: 100;
                transform: scale(0);
                transform-origin: 0 50%;
                transition: 275ms ease;
                
                &::placeholder {
                color: #aaaaaa;
                }
            }
            
            img {
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
            }
            .search__dropdown{
                display: flex;
                flex-direction: column;
                width: 170px;
                top: 45px;
                border-right: rgb(126, 126, 126) 1px solid ;
                border-left: rgb(126, 126, 126) 1px solid ;
                z-index: 9990;
                position: absolute;
                background: #4c4c4c;
                visibility: hidden;
                transition: opacity 0.3s ease;

                &.visible {
                    visibility: visible;
                    transition: 0.1s all ease;
                }
                a{
                    color: #aaaaaa; 
                    width: 100%;
                    opacity: 1;
                    padding: 10px 0 10px 20px ;
                    border-bottom: rgb(126, 126, 126) 1px solid ;
                }
            }
        }
        .header__inner__authorization{
            font-size: 0.686rem;
            display: flex;
            align-items: center;
            font-family: "Aller";
            color: rgb(126, 126, 126);
            line-height: 2.273;
            text-align: center;    
            border-right: rgb(126, 126, 126) 1px solid ;
            border-left: rgb(126, 126, 126) 1px solid ;
            height: 100%;
            padding: 0 1.2rem;
            @include media-breakpoint-down(sm)  {
            margin-left: auto;
            
            }

            a{
                text-transform: uppercase;
                margin: 0 3px;
                 &:hover{
                color: inherit;
                }
            }
        }

    }
}



.header {
    height: 45px;
    width: 100%;
    background: #242424;
    .header__inner{
        display: flex;
        align-items: center;
        height: 45px;
        flex-grow:1;
        .header__inner__logo{
            font-size: 1.625rem;
            font-family: "STHeiti-Light";
            color: rgb(87, 197, 160);
            text-transform: uppercase;
            line-height: 0.962;
            text-align: left;
        }
        .header__inner__search{
            margin-left: auto;
            position: relative;
            height: 100%;
            transform-origin: 100% 50%;
            width: 40px;
            height: 100%;
            cursor: pointer;
            transition: 250ms ease;
            &.focused {
                width: 170px;
                border-left: rgb(126, 126, 126) 1px solid ;
                input {
                padding: 0 40px 0 20px;
                width: 100%;
                transform: scale(1);
                }
            }
            
            input {
                background: transparent;
                border: 0;
                color: #aaaaaa;
                outline: none;
                height: 100%;
                width: 0;
                overflow: hidden;
                font-weight: 100;
                transform: scale(0);
                transform-origin: 0 50%;
                transition: 275ms ease;
                
                &::placeholder {
                color: #aaaaaa;
                }
            }
            
            img {
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
            }
            .search__dropdown{
                display: flex;
                flex-direction: column;
                width: 170px;
                top: 45px;
                border-right: rgb(126, 126, 126) 1px solid ;
                border-left: rgb(126, 126, 126) 1px solid ;
                z-index: 9990;
                position: absolute;
                background: #4c4c4c;
                visibility: hidden;
                transition: opacity 0.3s ease;

                &.visible {
                    visibility: visible;
                    transition: 0.1s all ease;
                }
                a{
                    color: #aaaaaa; 
                    width: 100%;
                    opacity: 1;
                    padding: 10px 0 10px 20px ;
                    border-bottom: rgb(126, 126, 126) 1px solid ;
                }
            }
        }
        .header__inner__authorization{
            font-size: 0.686rem;
            display: flex;
            align-items: center;
            font-family: "Aller";
            color: rgb(126, 126, 126);
            line-height: 2.273;
            text-align: center;    
            border-right: rgb(126, 126, 126) 1px solid ;
            border-left: rgb(126, 126, 126) 1px solid ;
            height: 100%;
            padding: 0 1.2rem;
            @include media-breakpoint-down(sm)  {
            margin-left: auto;
            
            }

            a{
                text-transform: uppercase;
                margin: 0 3px;
                 &:hover{
                color: inherit;
                }
            }
        }

    }
}


.item--search{
    position: relative;
    cursor: pointer;
    transition: 250ms ease;
    &.focused {
        flex-grow: 2.5;
        input {
        padding: 0 40px 0 20px;
        width: 100%;
        transform: scale(1);
       
        }
        img {
            right: 10px;
            transition: 0.5s ease;
        }
    }
    
    .search-input-i {
        background: transparent;
        border: 0;
        color: #aaaaaa;
        outline: none;
        height: 100%;
        width: 0;
        overflow: hidden;
        font-weight: 100;
        transform: scale(0);
        transform-origin: 0 50%;
        transition: 275ms ease;
        
        &::placeholder {
        color: #aaaaaa;
        }
    }
    
    img {
        position: absolute;
        top: 50%;
        transition: 0.5s ease;
        transform: translateY(-50%);
    }
    .search__dropdown-i{
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 60px;
        border-right: rgb(126, 126, 126) 1px solid ;
        border-left: rgb(126, 126, 126) 1px solid ;
        z-index: 9990;
        position: absolute;
        background: #4c4c4c;
        visibility: hidden;
        transition: opacity 0.3s ease;

        &.visible {
            visibility: visible;
            transition: 0.1s all ease;
        }
        a{
            color: #aaaaaa; 
            width: 100%;
            opacity: 1;
            padding: 10px 0 10px 20px ;
            border-bottom: rgb(126, 126, 126) 1px solid ;
        }
    }
}