/**
 * Navbar
 */

$navbar-height-desktop: 60px;
$navbar-height-mobile: 60px;
$navbar-bg: #fff;
$navbar-link-color: $primary;
$navbar-hover-link-color: darken($primary, 15%);

.navbar {

  background-color: $navbar-bg;
  z-index: $z-index-navbar;
  &__item{
    display: flex;
    border-left: $body-color 1px solid ;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    justify-content: center;
    flex-basis: 0;
    color: $primary;
    &.active a{
      color: #57c5a0;
    } 
  }
  & i{
    color: #7e7e7e;
  }
  .navbar--left{
    display: flex;
    max-width: 570px;

  }
  &-star span,  &-cart span{
      width: 20px;
      display:block;
      border-radius: 20%;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 7px;
      color: white;
      cursor: pointer;
  }
  &-star  span , &-cart span{
    background: #adadad;
    &:hover{
      background: #57c5a0;
      transition: 0.3s all ease;
    }
  }
  &-star {
    flex-grow: 1.2;
    @include media-breakpoint-up(md){
      flex-grow: 1;
    }
    
  }
  &-cart {
    border-right: $body-color 1px solid ;
    flex-grow: 1.5;
    @include media-breakpoint-up(md){
      flex-grow: 1.1;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__toggler {
    display: none;
    background: none;
    border: none;
    border-radius: 0;
    &:focus {
      outline: none;
    }
  }
  &__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu-item {
    a {
      transition: $transition-base;
      color: $navbar-link-color;
      &:hover {
        color: $navbar-hover-link-color;
        text-decoration: none;
      }
    }
  }
  .current-menu-item {
    a {
      color: $navbar-hover-link-color;
      text-decoration: none;
    }
  }
  &__collapse{
    display: none;
  }
  @include media-breakpoint-down(sm) {
    &__wrapper {
      height: $navbar-height-mobile;
    }
    &__collapse {
      transition: $transition-base;
      opacity: 0;
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      display: block;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      pointer-events: auto;
    }
    &__toggler {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      z-index: $z-index-navbar-toggler;
    }
    &__toggler-line {
      transition: $transition-base;
      display: flex;
      margin: 0 0 6px;
      background-color: #9b9b9b;
      height: 2px;
      width: 20px;
      &:nth-child(1) {
        margin-top: 6px;
      }
    }
    &__menu {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 100vh;
      background-color: $navbar-bg;
      padding: 2rem 0; // add some top / bottom padding in case there is more items that doesn't fit in the viewport
    }
    .menu-item {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      
    }
    
    body.navbar--opened & {
      &__collapse {
        visibility: visible;
        opacity: 1;
      }
      &__toggler-line {
        &:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
        &:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg); 
        }
        &:nth-child(2) {
          opacity: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__wrapper {
      height: $navbar-height-desktop;
    }
    &__menu {
      flex-direction: row;
    }
    .menu-item {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}
.item--search {

  .search-input-i {
    @include media-breakpoint-up(md){
      display: none;
    }
  }
  @include media-breakpoint-only(md){
    display: none;
  }
  @include media-breakpoint-up(md){
    flex: 2.2;
    z-index: -1000;
  }
  img {
    @include media-breakpoint-up(md){
      display: none;
    }
  }

}
// Prevent vertical scrollbar when navbar is opened on smaller devices

body.navbar--opened {
  overflow: hidden;
}

/**
 * Navbar Fixed
 */

// Make navbar transparent when scrolling more than 100px down

.navbar.navbar--scrolled {
  transition: $transition-base;
  opacity: .25;
  &:hover {
    opacity: 1;
  }
}

// When the navbar is fixed you should also add some padding to body tag as well - most likely that should be height of the navbar

body {
  @include media-breakpoint-down(sm) {
    padding-top: $navbar-height-mobile;
  }
  @include media-breakpoint-up(md) {
    padding-top: $navbar-height-desktop;
  }
}
