
.products-banner__inner{
  display: flex;
  position: relative;
  height: 260px;
  
  align-items: center;
  background: url('/img/bg.png');
  background-position: 50% 75%;
  @include media-breakpoint-down(md) {
    background-position: 26%;
  }
  .products-banner__content{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    flex-wrap: wrap;
    max-width: 400px;
    justify-content: space-between;
    margin-right: 50px;
    align-items: center;
    .products-banner__price{
        background-color: rgb(87, 197, 160);
        width: 68px;
        display: flex;
        height: 67px;
        font-size: 0.8125rem;
        font-family: "Aller";
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.923;
        text-align: left;
      }
      .products-banner__caption{
        font-size: 2.5rem;
        font-family: "Aller";
        color: rgb(36, 36, 36);
        line-height: 1;
        text-align: left;
        margin: auto;
      }

      .products-banner__text {
        font-size: 1.25rem;
        font-family: "Aller";
        color: rgb(36, 36, 36);
        line-height: 1.25;
        padding-top: 5px;
        text-align: left;
        
      }
    }  
  }

 