
.selects{
    height: 90px;
    background:#333;
    display: flex;
    align-items: center;
    .selects-inner{
        display: flex;
        align-items: center;
        width: 100%;
    }
    .selects__caption{
    font-size: 1.375rem;
    font-family: "Aller";
    color: rgb(255, 255, 255);
    line-height: 1.136;
    text-align: center;
    }
}  
.dropdown {
    --text: rgb(255, 255, 255);
    --border: #2F3545;
    --borderActive: #57c5a0;
    --background: #242424;
    --arrow: #6C7486;
    --arrowActive: #E4ECFA;
    --listText: #adadad;
    --listBackground: #242424;
    --listActive: #333;
    --listTextActive: rgb(255, 255, 255);
    --listBorder: none;
    --textFilled: rgb(255, 255, 255);
    
    width: 100%;
    position: relative;
    select {
        display: none;
    }
    & > span {
        cursor: pointer;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: var(--text);
        border: 1px solid var(--border);
        background: var(--background);
        transition: all .3s ease;
        font-size: 1.125rem;
        font-family: "Aller";
        color: rgb(255, 255, 255);
        line-height: 1.389;
        &:after {
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            font-family: "Font Awesome 5 Free";
             font-weight: 900; 
             content: "\f13a";
            display: block;
            position: absolute;
            right: 16px;
            transition: all .3s ease;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        opacity: 0;
        z-index: 9;
        visibility: hidden;
        position: absolute;
        top: 66px;
        left: 0;
        right: 0;
        background: var(--listBackground);
        border-radius: 1px;
        overflow: hidden;
        transform-origin: 0 0;
        transition: opacity .2s ease, visibility .2s ease, transform .3s cubic-bezier(.4, .6, .5, 1.32);
        transform: scale(.8) translate(0, 4px);
        border: 1px solid var(--listBorder);
        li {
            opacity: 0;
            transform: translate(6px, 0);
            transition: all .3s ease;
            a {
                cursor: pointer;
                display: block;
                padding: 14px 16px;
                color: var(--listText);
                text-decoration: none;
                font-family: "Aller";
                font-size: 0.8rem;
                outline: none;
                position: relative;
                transition: all .3s ease;
                &:hover {
                    color: var(--listTextActive);
                }
            }
            &.active {
                a {
                    color: var(--listTextActive);
                    background: var(--listActive);
                    &:before,
                    &:after {
                        content: '';
                        display: block;
                        width: 10px;
                        height: 2px;
                        position: absolute;
                        right: 17px;
                        top: 50%;
                        opacity: 1;
                        background: white;
                        transition: all .2s ease;
                    }
                    &:before {
                        transform: rotate(45deg) 
                    }
                    &:after {
                        transform: rotate(-45deg) 
                    }
                }
            }
            &:first-child {
                a {
                    border-radius: 6px 6px 0 0;
                }
            }
            &:last-child {
                a {
                    border-radius: 0 0 6px 6px;
                }
            }
        }
    }
    &.filled {
        & > span {
            color: var(--textFilled);
        }
    }
    &.open {
        & > span {
            border-color: var(--borderActive);
            &:after {
                transform:  rotate(180deg);
            }
        }
        ul {
            opacity: 1;
            visibility: visible;
            transform: scale(1) translate(0, 12px);
            transition: opacity .3s ease, visibility .3s ease, transform .3s cubic-bezier(.4, .6, .5, 1.32);
            li {
                opacity: 1;
                transform: translate(0, 0);
                $i: 1;
                @while $i <= 10 {
                    $delay: $i * 80;
                    &:nth-child(#{$i}) {
                        transition-delay: #{$delay}ms;
                    }
                    $i: $i + 1;
                }
            }
        }
    }
}

select {
    --text: #3F4656;
    --border: #2F3545;
    --background: #151924;
    &.dropdown {
        padding: 9px 16px;
        border-radius: 6px;
        color: var(--text);
        border: 1px solid var(--border);
        background: var(--background);
        line-height: 22px;
        font-size: 22px;
        font-family: inherit;
        -webkit-appearance: none;
    }
}






