
.f-sl {
  background: url('/img/bg.png');
}
.s-sl {
  background: url('/img/bg.png');
}
.t-sl {
  background: url('/img/bg.png');
}
.slide__inner{
  display: flex;
  position: relative;
  height: 460px;
  background-position: top;
  @include media-breakpoint-down(md) {
    background-position: 26%;
  }
  .slide__content{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: space-between;
    padding: 70px 0 90px;
    height: 460px;
    @include media-breakpoint-up(lg) {
    padding-right: 4%;
    }
    .slide-price{
        background-color: rgb(87, 197, 160);
        width: 68px;
        display: flex;
        height: 67px;
        font-size: 0.8125rem;
        font-family: "Aller";
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.923;
        text-align: left;
      }
      .slide-caption{
        font-size: 2.5rem;
        font-family: "Aller";
        color: rgb(36, 36, 36);
        line-height: 1;
        text-align: left;
      }

      .slide-text {
        font-size: 1.25rem;
        font-family: "Aller";
        color: rgb(36, 36, 36);
        line-height: 1.25;
        text-align: left;
        max-width: 400px;
        
      }
      .slide-btns-wrapper{
          display:flex;
        a{
            background-color: rgba(255, 255, 255, 0.8);
            width: 40px;
            height: 40px;
            margin-right:2px;
            font-family: 'linecons';
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
              color:#57c5a0;
            }
        }
      }
    }  
  }

  
.header-pagination {
  width: 100%;
  height: 90px;
  background-color: #2e2e2e;
  padding-top: 6px;
  .line{
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #000000;
    max-width: 580px;
    margin: 0 auto;
    position: relative;
    .break{
      width: 2px;
      height: 6px;
      background: #2e2e2e;
    }
  }
  .slider-nav{
    display: flex;
    max-width: 580px;
    margin: 0 auto;
    padding: 0;
    
    flex-wrap: wrap;
    width: 100%;
   
    li{
      display: flex;
      align-content: center;
      justify-content: center;
      flex: 1;
      text-align: center;
      position: relative;
      div{
        cursor: pointer;
        &:focus{
          outline: none;
        }
      }
      h3{
          font-size: 1.125rem;
          font-family: "Aller";
          color: rgba(255, 255, 255, 0.502);
          line-height: 1.389;
          margin: 0;
          padding: 15px 0 0;
      }
      p{
          font-size: 0.75rem;
          font-family: "Aller";
          color: rgba(173, 173, 173, 0.502);
        }
         
      }
      .tns-nav-active{
        h3{
            color: rgb(255, 255, 255);
          }
      p{
          color: rgb(173, 173, 173);
        }
        .green{
          display: block;
        }
      }
    }
  
  
.green {
  margin-left: 6px;
  position: absolute;
  left: 0;
  width: 93%;
  height: 6px;
  top: -8px;
  background-color: #57c5a0;
  display: none;
  @include media-breakpoint-down(sm) {
   margin-left: 3px;
    }
  }
}